
<style>.textcenter{
    text-align: center;
   
}
.box{
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    
    
}
.button{
    margin-top: 10px;
}

</style>

<body >
<div class="textcenter"><h2>Eamil Validation </h2></div>
<div class="box">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="abc@example.com">
    <span id="email-Error"></span>
    <button onclick="my(email)" type="submit" class="btn btn-danger button">Check</button>
</div>
</body>
