
<style>.textcenter{
    text-align: center;
   
}
.box{
    
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 400px;
    
}
.button{
    margin-top: 10px;
    
}


</style>
<h2 class="textcenter"> Find Odd or Even number! </h2>

<!-- <label class="textcenter"> Enter Number </label>  -->
<div class="box">
    <div>
<input type="number" name="num" id="evenOdd"  class="box form-control" placeholder="Enter Number">
<span id="showMssg" ></span></div>
<button onclick="isCheck(evenOdd)" type="submit" class="btn btn-primary button">Check</button>

</div>






